@import url("/fonts/fonts.css");

:root {
  font-family: "InterVariable", Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  
  --light-bg: #fff;
  --dark-bg: #1e1e1e;
  
  --light-screen-bg: hsl(213, 65%, 91%);
  --dark-screen-bg: hsl(213, 58%, 8%);
  
  --light-text: #000;
  --dark-text: #fff;
  
  background-color: light-dark(var(--light-screen-bg), var(--dark-screen-bg));
  color: light-dark(var(--light-text), var(--dark-text));
   
}

html {
  position: relative; /* used as reference by the animated background */
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 100%;
  border: 1px solid light-dark(var(--light-text), var(--dark-text));
  background: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  
  /* anti-aliasing */
  box-shadow: 0 0 0.75px 0px light-dark(var(--light-text), var(--dark-text)) inset, 0 0 0.75px 0px light-dark(var(--light-text), var(--dark-text));
}
button:hover {
  box-shadow: 0 0 10px 0px;
}
button:active {
  background-color: light-dark(hsla(54, 100%, 79%, 0.4), hsla(54, 100%, 35%, 0.4));
}

#app {
  padding: 0;
  text-align: center;
}


a:hover {
  color: #747bff;
}

.numeric-duration {
  font-variant-numeric: tabular-nums;
}