:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  
  --light-bg: #fff;
  --dark-bg: #222;
  --light-text: #000;
  --dark-text: #fff;
  
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-text), var(--dark-text));
   
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  padding: 0;
  text-align: center;
}


a:hover {
  color: #747bff;
}

.numeric-duration {
  font-variant-numeric: tabular-nums;
}